<!DOCTYPE html>

<html lang="hr">
    <head>
        <title>Kukci</title>
        <meta charset="UTF-8">
        <meta name="description" content="Kukci, 2. labos iz OR, FER">
        <meta name="author" content="Mateo Hrelja">
        <meta name="keywords" content="insects, kukci, csv, json, open-data">
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type = "text/css" href="../styles/main.css">
    </head>
    
    <body>

        <h1>Kukci</h1>

        <h3>Kratak opis:</h3>
        <p>Ovo je skup otvorenih podataka vezanih uz kukce odnosno insekte, napravljen u sklopu laboratorijskih vježb za predmet Otvoreno računarstvo na FER-u.</p>
        <p>Skup podataka sadržava neke karakteristike kukaca, koje je moguće filtrirati ili preuzeti u CSV ili JSON formatu.</p>

        <h3>DOWNLOAD:</h3>

        <a href="../formats/kukci.csv" download = "kukci.csv"><input type="button" class="button" value="CSV"></a>
        <a href="../formats/kukci.json" download = "kukci.json"><input type="button" class="button" value="JSON"></a>

        <h3>DATATABLE:</h3>

        <a href="../views/datatables.ejs">Datatables</a>

    </body>
</html>